* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  background: #0b0d17;
  scroll-behavior: smooth;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__container {
  width: 750px;
  padding: 20px;
  overflow: visible; 
}

.dialog__container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog__container-body {
  margin-top: 30px;
  height: 350px;
  overflow-y: scroll;
}

.dialog__container-body p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

button {
  all: unset;
  padding: 8px 12px;
  background: #ffa500;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

dialog {
  opacity: 0;
  scale: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  margin: auto;
  background: #008088;
}

dialog[open] {
  opacity: 1;
  scale: 1;
}

dialog::backdrop {
  color: rgba(0, 0, 0, 0.183);
}

.heading {
  font-weight: bold;
  font-size: 25px;
}

.text,
.exit {
  color: #ffe5ff;
}
